.entity-form-controls > div {
    margin-bottom: 1rem;
}

.entity-form-controls label {
    display: block;
}

.dashed {
    /*border-bottom: 1px dashed #999;*/
    text-decoration: underline;
    text-decoration-style: dotted;
}

.entity-name-cell {
    max-width: 150px;
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}
