.entity-form-controls > div {
    margin-bottom: 1rem;
}

.entity-form-controls label {
    display: block;
}

.dashed {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.entity-name-cell {
    max-width: 150px;
}


@media (max-width: 1450px) {
    .show-xxl-up {
        display: none !important;
    }
}